
body {
	border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: sans-serif;
}

 h1 {
	  text-align: center;
}
	  
a {
	color: black;
}


p { 
	font-family: serif; 
}

p { 
	font-family: sans-serif;
}


nav {
	margin-top: 50px;
}
